/* Write your CSS here */

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-logo {
  height: 150px;
  width: 450px;
}

.input-container {
  width: 60%;
  border: 1px solid #475569;
  border-radius: 10px;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.search-input {
  width: 90%;
  border: 0px solid transparent;
  font-size: 24px;
}
