/* Write your CSS here */
.suggestion-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.suggestion-text {
  font-family: 'Roboto';
  font-size: 16px;
}

.arrow-icon {
  height: 20px;
  width: 20px;
}
